<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>

    <application android:usesCleartextTraffic="true" tools:targetApi="28" tools:ignore="GoogleAppIndexingWarning">
        <meta-data android:name="io.sentry.dsn" android:value="https://f30b9a387e704eda96b03cf9d8ece0b6@sentry.io/1783191" />
    </application>
</manifest>
